@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@400;500&family=Raleway:wght@500&display=swap');
$Font1: 'Raleway', sans-serif;
$Font2: 'M plus 1p', sans-serif;

body {
    max-width: 100%;
}
.header {
    display: flex;
    height: 10vh;
    justify-content: flex-end;
    padding: 0 10% 0 10%;
    align-items: center;
    border-bottom: 1px solid #D1D1D1; 
    .header__logo {
        margin-right: auto;
    }
    .header__menu {
        margin-right: 10%;
    }
}
.menu__link {
    color: #122947;
    font-size: 1rem;
    font-weight: 400;
    font-family: $Font2;
    margin: 1rem;
}
.link {
    text-decoration: none;
}