@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@400;500&family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Poppins:wght@700&family=Raleway:wght@500&display=swap');
$Font1: 'Raleway', sans-serif;
$Font2: 'M plus 1p', sans-serif;

body {
    max-width: 100%;
    background-color: #F8F8F6; 
}
.btn{
    width: 141px;
    height: 41px;
    border-radius: 2px;
    border: 1px solid #B3BAC1;
    background-color: #F8F8F6;
    color: #122947;
    font-family: $Font2;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; 
}
* a{
    text-decoration: none;
    color: #122947;
}
* p{
    color: #122947;
    font-family: $Font2;
    font-size: 1.2rem;
    font-style:normal;
    font-weight: 400;
    line-height: 145%; 
}
h2{
    color: #122947;
    font-family: $Font1;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; 
}
h3{
    color: #122947;
    font-family: $Font1;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 145%; 
}
.header {
    display: flex;
    height: 10vh;
    justify-content: flex-end;
    padding: 0 10% 0 10%;
    align-items: center;
    border-bottom: 1px solid #D1D1D1; 
    .header__logo {
        margin-right: auto;
    }
    .header__menu {
        margin-right: 10%;
    }
}
.menu__link {
    color: #122947;
    font-size: 1rem;
    font-weight: 400;
    font-family: $Font2;
    margin: 1rem;
}
.link {
    text-decoration: none;
}
.mainpage{
    background-image: url(/assets/main_page/Rectangle35.png);
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: grid;
    align-items: center;
    .mainpage__container{
        width: 80%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        .mainpage__img{
            min-width: 321px;
            width: 100%;
                img{
                width: 100%;
                }   
                .mainpage__img-text{
                padding-top: 12px;
                display:grid;
                grid-template-columns: repeat(2,1fr);
                align-items: center;
                    p {
                    grid-column:1/2;
                    color: #122947;
                    font-family:$Font2;
                    font-size: 1.3rem;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 140%; 
                    }
                    a {
                        grid-column: 2/3;
                        justify-self: end;
                        width: 2rem;
                        height: 12px;
                    }
            }
        }
        .mainpage__text{
            height: 55%;
            padding-top: 58px;
            display: grid;
            text-align: center;
            justify-items: center;
                h1{
                margin-bottom: 0%;
                color: #122947;
            font-family:$Font1;
            font-size: 4rem;
            font-style: normal;
            font-weight: 500;
            line-height:normal;
            }
        }
    }
}
.best-seller{
    width: 100%;
    height: 70vh;
    display: grid;
    align-items: center;
        .best-seller__container{
        width: 85%;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 4fr;
        grid-template-rows: 332px 21px;
        gap:32px;
        .best-seller__text{
            align-self: center;
            grid-column: 1/2;
            display: grid;
            gap:15px;
                p{
                width: 214px;
                margin-bottom: 35px;
            }
        }
        .best-seller__grCards{
            grid-column: 2/3; 
            display: grid;
            grid-template-columns: repeat(4,250px);
            gap:30px;
            justify-content: center;
            .best-seller__card{
                background-size:cover;
                width: 100%;
                height: 100%;
                display: grid;
                text-align: center;
                justify-content: center;
                align-content: end;
                gap:8px;
                    p {
                    color: #9A9DA0;
                    font-family:$Font2;
                    font-size: 1rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 145%; 
                }
                    a {
                        color: #122947;
                        font-family:$Font2;
                        font-size: 0.9rem;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 145%; 
                        border-bottom: 1px solid;
                        padding-bottom: 4px;
                        margin-bottom: 25px;
            }
        }
        }
        .best-seller__img-vector{
            grid-column: 2/3;
            margin-right: 9rem;
            justify-self: end;
            .btn_vect{
                border: 0ch;
                background:none;
                }
        } 
    }
}
.news{
    background-image: url(/assets/main_page/11.png);
    background-size:cover;
    width: 100%;
    height: 0%;
    padding-top: 28%;
    display: grid;
    align-items: center;
    .news__container{
        width: 71%;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr  minmax(min-content, max-content);
        margin-top: -20%;
        .news__content{
            width: 57%;
            justify-self: end;
            display: grid;
            gap:2.2rem;
            grid-column: 3/4;  
        }
    }
}
.content1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 6%;
    padding-top: 6.25rem;
    padding-bottom: 6.25rem;
    width: 80%;
    .content1__text {
        background-color: #F4F1ED;
        max-width: 41.6667rem;
        height: 36.0833rem;
        align-items: center;
        padding-top: 100px;
        padding-left: 100px;
        p {
            color: #122947;
            font-size: 18px;
            font-family: $Font2;
            font-weight: 400;
            line-height: 26.10px;
            word-wrap: break-word;
        }
        .content1__button {
            width: 12.5rem;
            height: 2.7083rem;
            border-radius: 0.1333rem;
            border: 1px solid #B3BAC1;
            .button-text {
                color: #122947;
                font-size: 16px;
                font-family: $Font2;
                font-weight: 500;
                line-height: 22.40px;
                word-wrap: break-word;
            }
        }
    }
    .content1__img {
        width: 100%;
        height: 471px;
        grid-column: 2 / span 1;
        margin-left: -20rem;
        padding-top: 4.0417rem;
    }
}
.content2{
    background-image: url(/assets/main_page/flower.jpg);
    background-repeat: no-repeat; 
    background-size: cover;
    width: 100%;
    height: 25rem;
    display: grid;
    justify-items: center;
    p{
        color: #122947;
        font-size: 32px;
        font-family: $Font1;
        font-weight: 500;
        line-height: 40px;
        word-wrap: break-word;
        padding-top: 120px;
        text-align: center;
    }
    button{
        width: 163px;
        height: 41px;
        border-radius: 2px;
        border: 1px solid #B3BAC1;
        .button-text{
            color: #122947;
            font-size: 16px;
            font-family: $Font2;
            font-weight: 500;
            line-height: 22.40px;
            word-wrap: break-word;
        }
    }
}
.content3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    padding-top: 100px;
    padding-left: 6%;
    width: 80%;
    gap: 0;
    padding-bottom: 200px;
    grid-column-gap: 71px;
    .content3__image {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0;
    }
    .content3__all{
        text-align: left;
        margin-top: 10.8333rem;
        align-items: center;
        p {
            color: #122947;
            font-size: 18px;
            font-family: $Font2;
            font-weight: 400;
            line-height: 26.10px;
            word-wrap: break-word;
        }
    }
    .content3__button {
        width: 9.4444rem;
        height: 2.7083rem;
        border-radius: 0.1333rem;
        border: 1px solid #B3BAC1;
        .button-text {
            color: #122947;
            font-size: 16px;
            font-family: $Font2;
            font-weight: 500;
            line-height: 22.40px;
            word-wrap: break-word;
        }
    }
}
.contacts {
    display: flex;
    width: 80%;
    height: 50vh;
    margin: 2% auto;
    .contacts__info {
        width: 50%;
        padding: 5%;
        background-color: #F4F1ED;
        font-family: $Font2;
        font-size: 1rem;
        font-weight: 400;
        .contacts__title {
            font-family: $Font1;
            font-weight: 500;
            font-size: 2rem;
        }
    }
}
.contacts__img {
    transform: translateX(-15%);
    margin: auto 0;
    .contacts__pic {
        width: 115%;
    }
}

.footer {
    display: grid;
    grid-template-rows: 3fr 1fr;
    background-color: #F4F1ED;
    height: 20vh;
}
.footer__top {
    display: flex;
    justify-items: flex-start;
    align-items: center;
    padding: 0 10% 0 10%;
    .footer__social {
        margin-left: auto;
    }
}
.footer__menu {
    margin-left: 10%;
}
.footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10% 0 10%;
    font-family: $Font2;
    color: #959595;
    font-size: 0.7rem;
    font-weight: 400;
    border-top: solid 1px #D1D1D1;
    .bottom__right {
        margin: auto;
    }
}


@media screen and (max-width: 768px) {
    .header__menu {
        order: -1;
        justify-self: flex-start;
        a:not(:first-child) {
            display: none;
        }
    }
    .header__logo {
        margin: auto;
    }
    .contacts {
        background-color: #F4F1ED;
        height: 70vh;
        .contacts__img {
            box-sizing: border-box;
            width: 45vw;
            padding-right: 0;
        }
    }
    .footer__menu {
        margin-left: 0;
    }
}

@media screen and (min-width: 481px) {
    .contacts__social {
        display: none;
    }
}
@media screen and (max-width: 480px) {
    .header {
    padding: 0 5% 0 5%;
    .header__menu {
        margin: 0;
    }
    .header__logo-img {
        max-width: 85px;
    }
    }

    .contacts {
        flex-direction: column;
        height: 120vh;
        .contacts__info {
            box-sizing: border-box;
        }
        .contacts__img {
            width: 100%;
            background-color: white;
            margin: auto 0 0 0;
            transform: translateX(0);
            .contacts__pic {
                width: 100%;
            }
        }
    }
    .footer {
        height: 60vh;
        padding: 0 5% 0 5%;
    }
    .footer__top {
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        .footer__menu {
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin: 0;
            .menu__link {
                margin-left: 0;
            }
        }
        .footer__social {
            margin: 0;
        }
    }
    .footer__bottom {
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        .bottom__right {
            justify-self: start;
        }
    }
}
