@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@400;500&family=Raleway:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Poppins:wght@700&family=Raleway:wght@500&display=swap");
body {
  max-width: 100%;
  background-color: #F8F8F6;
}

.btn {
  width: 141px;
  height: 41px;
  border-radius: 2px;
  border: 1px solid #B3BAC1;
  background-color: #F8F8F6;
  color: #122947;
  font-family: "MPLUS1p", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}

* a {
  text-decoration: none;
  color: #122947;
}

* p {
  color: #122947;
  font-family: "MPLUS1p", sans-serif;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 145%;
}

h2 {
  color: #122947;
  font-family: "Raleway", sans-serif;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}

h3 {
  color: #122947;
  font-family: "Raleway", sans-serif;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 145%;
}

.header {
  display: grid;
  grid-template-columns: 1fr 50vw 1fr;
  background-color: #F8F8F6;
  height: 10vh;
  justify-items: end;
  padding: 0 10% 0 10%;
  align-items: center;
  border-bottom: 1px solid #D1D1D1;
}
.header .header__logo {
  justify-self: start;
}

.menu__link {
  color: #122947;
  font-size: 1rem;
  font-weight: 400;
  font-family: "MPLUS1p", sans-serif;
  margin: 1rem;
}

.mainpage {
  background-image: url(/assets/main_page/Rectangle35.png);
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: grid;
  align-items: center;
}
.mainpage .mainpage__container {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.mainpage .mainpage__container .mainpage__img {
  min-width: 321px;
  width: 100%;
}
.mainpage .mainpage__container .mainpage__img img {
  width: 100%;
}
.mainpage .mainpage__container .mainpage__img .mainpage__img-text {
  padding-top: 12px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}
.mainpage .mainpage__container .mainpage__img .mainpage__img-text p {
  grid-column: 1/2;
  color: #122947;
  font-family: "MPLUS1p", sans-serif;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}
.mainpage .mainpage__container .mainpage__img .mainpage__img-text a {
  grid-column: 2/3;
  justify-self: end;
  width: 2rem;
  height: 12px;
}
.mainpage .mainpage__container .mainpage__text {
  height: 55%;
  padding-top: 58px;
  display: grid;
  text-align: center;
  justify-items: center;
}
.mainpage .mainpage__container .mainpage__text h1 {
  margin-bottom: 0%;
  color: #122947;
  font-family: "Raleway", sans-serif;
  font-size: 4rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.best-seller {
  width: 100%;
  height: 70vh;
  display: grid;
  align-items: center;
}
.best-seller .best-seller__container {
  width: 85%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 332px 21px;
  gap: 32px;
}
.best-seller .best-seller__container .best-seller__text {
  align-self: center;
  grid-column: 1/2;
  display: grid;
  gap: 15px;
}
.best-seller .best-seller__container .best-seller__text p {
  width: 214px;
  margin-bottom: 35px;
}
.best-seller .best-seller__container .best-seller__grCards {
  grid-column: 2/3;
  display: grid;
  grid-template-columns: repeat(4, 250px);
  gap: 30px;
  justify-content: center;
}
.best-seller .best-seller__container .best-seller__grCards .best-seller__card {
  background-size: cover;
  width: 100%;
  height: 100%;
  display: grid;
  text-align: center;
  justify-content: center;
  align-content: end;
  gap: 8px;
}
.best-seller .best-seller__container .best-seller__grCards .best-seller__card p {
  color: #9A9DA0;
  font-family: "MPLUS1p", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 145%;
}
.best-seller .best-seller__container .best-seller__grCards .best-seller__card a {
  color: #122947;
  font-family: "MPLUS1p", sans-serif;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 400;
  line-height: 145%;
  border-bottom: 1px solid;
  padding-bottom: 4px;
  margin-bottom: 25px;
}
.best-seller .best-seller__container .best-seller__img-vector {
  grid-column: 2/3;
  margin-right: 9rem;
  justify-self: end;
}
.best-seller .best-seller__container .best-seller__img-vector .btn_vect {
  border: 0ch;
  background: none;
}

.news {
  background-image: url(/assets/main_page/11.png);
  background-size: cover;
  width: 100%;
  height: 0%;
  padding-top: 28%;
  display: grid;
  align-items: center;
}
.news .news__container {
  width: 71%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr minmax(min-content, max-content);
  margin-top: -20%;
}
.news .news__container .news__content {
  width: 57%;
  justify-self: end;
  display: grid;
  gap: 2.2rem;
  grid-column: 3/4;
}

.content1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 6%;
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
  width: 80%;
}
.content1 .content1__text {
  background-color: #F4F1ED;
  max-width: 41.6667rem;
  height: 36.0833rem;
  align-items: center;
  padding-top: 100px;
  padding-left: 100px;
}
.content1 .content1__text p {
  color: #122947;
  font-size: 18px;
  font-family: "MPLUS1p", sans-serif;
  font-weight: 400;
  line-height: 26.1px;
  word-wrap: break-word;
}
.content1 .content1__text .content1__button {
  width: 12.5rem;
  height: 2.7083rem;
  border-radius: 0.1333rem;
  border: 1px solid #B3BAC1;
}
.content1 .content1__text .content1__button .button-text {
  color: #122947;
  font-size: 16px;
  font-family: "MPLUS1p", sans-serif;
  font-weight: 500;
  line-height: 22.4px;
  word-wrap: break-word;
}
.content1 .content1__img {
  width: 100%;
  height: 471px;
  grid-column: 2/span 1;
  margin-left: -20rem;
  padding-top: 4.0417rem;
}

.content2 {
  background-image: url(/assets/main_page/flower.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 25rem;
  display: grid;
  justify-items: center;
}
.content2 p {
  color: #122947;
  font-size: 32px;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  line-height: 40px;
  word-wrap: break-word;
  padding-top: 120px;
  text-align: center;
}
.content2 button {
  width: 163px;
  height: 41px;
  border-radius: 2px;
  border: 1px solid #B3BAC1;
}
.content2 button .button-text {
  color: #122947;
  font-size: 16px;
  font-family: "MPLUS1p", sans-serif;
  font-weight: 500;
  line-height: 22.4px;
  word-wrap: break-word;
}

.content3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 100px;
  padding-left: 6%;
  width: 80%;
  gap: 0;
  padding-bottom: 200px;
  grid-column-gap: 71px;
}
.content3 .content3__image {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0;
}
.content3 .content3__all {
  text-align: left;
  margin-top: 10.8333rem;
  align-items: center;
}
.content3 .content3__all p {
  color: #122947;
  font-size: 18px;
  font-family: "MPLUS1p", sans-serif;
  font-weight: 400;
  line-height: 26.1px;
  word-wrap: break-word;
}
.content3 .content3__button {
  width: 9.4444rem;
  height: 2.7083rem;
  border-radius: 0.1333rem;
  border: 1px solid #B3BAC1;
}
.content3 .content3__button .button-text {
  color: #122947;
  font-size: 16px;
  font-family: "MPLUS1p", sans-serif;
  font-weight: 500;
  line-height: 22.4px;
  word-wrap: break-word;
}

.contacts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  width: 80%;
  height: 50%;
  margin: 2% auto;
}
.contacts .contacts__info {
  width: 100%;
  padding: 10%;
  height: auto;
  background-color: #F4F1ED;
  font-family: "MPLUS1p", sans-serif;
  font-size: 1rem;
  font-weight: 400;
}
.contacts .contacts__info .contacts__title {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 2rem;
}
.contacts .contacts__img {
  width: 80%;
  margin: auto;
}
.contacts .contacts__img .contacts__pic {
  width: 100%;
}

.footer {
  display: grid;
  grid-template-rows: 3fr 1fr;
  background-color: #F4F1ED;
  height: 20vh;
}

.footer__top {
  display: grid;
  grid-template-columns: 1fr 50vw 1fr;
  align-items: center;
  padding: 0 10% 0 10%;
}
.footer__top .footer__social {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: end;
}

.footer__bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: stretch;
  align-items: center;
  padding: 0 10% 0 10%;
  font-family: "MPLUS1p", sans-serif;
  color: #959595;
  font-size: 0.7rem;
  font-weight: 400;
  border-top: solid 1px #D1D1D1;
}
.footer__bottom .bottom__right {
  justify-self: end;
}/*# sourceMappingURL=main_page.css.map */