@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Poppins:wght@700&family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+plus+1p:wght@400;500&display=swap');

$Font1: 'Raleway', sans-serif;
$Font2: 'M plus 1p', sans-serif;
body {
    max-width: 100%;
    background-color: #F8F8F6; 
}
.link{
    text-decoration: none;
    color: #122947;
}
.btn{
    max-width: 215px;
    width: 100%;
    height: 41px;
    border-radius: 2px;
    border: 1px solid #B3BAC1;
    background-color: #F8F8F6;
    color: #122947;
    font-family: $Font2;
    font-size: 1rem;
    font-weight: 600;
    margin-left: 5%;
    cursor: pointer;
}
.title-medium {
    text-align: center;
    font-family: $Font1;
    font-weight: 500;
    font-size: 2rem;
}
.title-mini {
    font-weight: 500;
    font-size: 1.2rem;
}
.text {
    font-family: $Font2;
    font-weight: 400;
    font-size: .8rem;
}
.text-pale {
    color: #9A9DA0;
}
.header {
    display: flex;
    height: 10vh;
    justify-content: flex-end;
    padding: 0 10% 0 10%;
    align-items: center;
    border-bottom: 1px solid #D1D1D1; 
    @media (width <= 480px) {
        padding: 0 5% 0 5%;
    }
    .header__logo {
        margin-right: auto;
        @media (width <= 768px) {
            margin: auto;
        }
        .header__logo-img {
            @media (width <= 480px) {
                max-width: 85px;
            }
        }
    }
    .header__menu {
        margin-right: 10%;
        @media (width <= 480px) {
            margin: 0;
        }
        @media (width <= 768px) {
            order: -1;
            justify-self: flex-start;
            a:not(:first-child) {
                display: none;
            }
        }
    }
}
.product {
    display: flex;
    width: 80%;
    margin: 5% auto;
    .product__img {
        width: 50%;
        margin: auto;
        .product__pic {
            width: 100%;
        }
    }
    .product__info {
        width: 50%;
        margin-left: 10%;
        font-family: $Font2;
        font-size: 1rem;
        font-weight: 400;
        color: #122947;
    }
    .product__description {
        border-bottom: 1px solid #B3BAC1;
        padding-bottom: 5%;
    }
    .product__description-main {
        font-size: 1.2rem;
    }
}
.offer__catalog{
    height: auto;
    width: 80%;
    margin: auto;
    padding: 5%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(auto, 270px));
    grid-template-rows: auto;
    justify-content: space-between;
    gap: 30px;
    .offer__card {
        display: flex;
        justify-content: center;
        position: relative;
        width: 100%;
        height: 100%;
        .card__img {
            width: 100%;
            height: 100%;
            position: relative;
        }
        .card__info {
            width: 90%;
            position: absolute;
            display: grid;
            grid-template-columns: 3fr 1fr;
            grid-template-rows: 1fr 1fr;
            justify-content: space-between;
            align-items: center;
            bottom: 2%;
            line-height: .1rem;
            .card__price {
                font-weight: 500;
            }
        }
    }
}
.menu__link {
    color: #122947;
    font-size: 1rem;
    font-weight: 400;
    font-family: $Font2;
    margin: 1rem;
    @media (width <= 480px) {
        margin-left: 0;
    }
}
.footer {
    display: grid;
    grid-template-rows: 3fr 1fr;
    background-color: #F4F1ED;
    height: 20vh;
    @media (width <= 480px) {
        height: 60vh;
        padding: 0 5% 0 5%;
    }
    .footer__top {
        display: flex;
        justify-items: flex-start;
        align-items: center;
        padding: 0 10% 0 10%;
        @media (width <= 480px) {
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-start;
        }
        .footer__menu {
            margin-left: 10%;
            @media (width <= 480px) {
                margin-left: 10%;
            }   
            @media (width <= 768px) {
                margin-left: 0;
            }
        }
        .footer__social {
            margin-left: auto;
            @media (width <= 480px) {
                margin: 0;
            }
        }
    }
    .footer__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10% 0 10%;
        font-family: $Font2;
        color: #959595;
        font-size: 0.7rem;
        font-weight: 400;
        border-top: solid 1px #D1D1D1;
        @media (width <= 480px) {
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-start;
        }
        .bottom__right {
            margin: auto;
            @media (width <= 480px) {
                justify-self: start;
            }
        }
    }
}


